@model  Model.InvoiceDetail

<hr />
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-file-text fa-fw"></i>
        Agregar Detalle
    </div>
    <div class="panel-body">
        <form action="#" method="post">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-5">

                        @Html.HiddenFor(model => model.ProductId)
                        @Html.LabelFor(model => model.ProductName)
                        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @type = "text", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })


                    </div>
                    <div class="col-md-5">

                        @Html.LabelFor(model => model.QuantityString)
                        @Html.EditorFor(model => model.QuantityString, new { htmlAttributes = new { @type = "number", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.QuantityString, "", new { @class = "text-danger" })

                    </div>

                    @Html.HiddenFor(model => model.Value)
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="text-right">
                            <button id="add" type="button" class="btn btn-primary">Agregar Producto</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $(document).ready(function () {

        $("#ProductName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Content("~/Product/ListProducts/")',
                    type: "POST",
                    dataType: "json",
                    data: { Search: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(item);
                            return { id: item.Id, unitValue: item.UnitValue, label: item.Code + ' - ' + item.Name, value: item.Code + ' - ' + item.Name };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                console.log(ui);
                $("#ProductId").val(ui.item.id);
                $("#Value").val(ui.item.unitValue);
            }
        });
        $("#ProductName").autocomplete("option", "appendTo", ".eventInsForm");
    })
</script>
